Django==2.1.7
zappa==0.48.2
djangorestframework==3.9.0
django-cors-headers==2.4.0
django-storages==1.7.1
google-api-core==1.7.0
google-cloud-speech==0.36.2
google-cloud-storage==1.13.2
zappa-django-utils==0.4.0
grpcio==1.18.0
django-constance==2.3.1
django-picklefield==2.0
sentry-sdk==0.7.2
Fabric3==1.14.post1
pydub==0.23.1
pycodestyle==2.5.0
vulture==1.0
lxml==4.3.2
requests==2.21.0
django-versatileimagefield==1.10
google-cloud-vision==0.36.0
django-taggit==1.1.0
krawler-api==0.21.2
drf-nested-routers==0.91
